<h2>Client page</h2>
<p><strong>Имя:</strong> <%= @client.name %></p>
<p><strong>Телефон:</strong> <%= @client.phone %></p>
<p><strong>Дата записи:</strong> <%= @client.datestamp %></p>

<p><a href='/bookings'>Назад к списку записавшихся</a></p>